# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: changelog-check

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-changelog-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Build
      run: go build -v ./clog

    - name: Upload linter binary
      uses: actions/upload-artifact@v3
      with:
        name: changelog-check-binary
        path: clog

  run-changelog-check:
    runs-on: ubuntu-latest
    needs: build-changelog-check

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Download changelog check binary
        uses: actions/download-artifact@v3
        with:
          name: changelog-check-binary

      - name: Get new changelog files
        id: new-changelog-files
        uses: tj-actions/changed-files@v45
        with:
          files: |
            log/**.md

      - name: Run lint command
        env:
          ALL_ADDED_MARKDOWN: ${{ steps.new-changelog-files.outputs.added_files }}
        run: chmod +x clog && ./clog check -fragment-env=ALL_ADDED_MARKDOWN
